<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static', filename='32.ico')}}">

    <title>Kapivara</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='cover.css')}}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Kapivara</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link active" href="#" data-toggle="modal" data-target="#contato">Contato</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Uma plataforma que irá facilitar a vida de Anunciantes e Influenciadores</h1>
        <p class="lead">Uma forma revolucionaria de fazer markteing</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Em Breve...</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">

      </footer>
    </div>
    <!-- Modal -->
      <div class="modal fade" id="contato" tabindex="-1" role="dialog" aria-labelledby="contato" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-contact" id="contato">Contato</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="text-contact" id="contatoForm">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" placeholder="Linus Torvalds">
                </div>
                <div class="form-group">
                  <label for="mensagem">Messagem</label>
                  <textarea class="form-control" name="mensagem" rows="8" id="mensagem" placeholder="Olá! ＼（Ｔ∇Ｔ）／"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" onclick="contato_botao()" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong>
            Product have added to your wishlist.
        </div>
      </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{url_for('static', filename='assets/js/vendor/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
      $('#success-alert').hide();
      function contato_botao(){
        console.log(document.getElementById("nome").value);
        console.log(document.getElementById("email").value);
        console.log(document.getElementById("mensagem").value);
        axios.post('/contact',
          {
            name: document.getElementById("nome").value,
            email: document.getElementById("email").value,
            message: document.getElementById("mensagem").value
          }
        ).then(function (response) {
          console.log(response);
          $('#success-alert').show();
          $(".alert").delay(4000).slideUp(200, function() {
              $(this).alert('close');
          });
        })
        .catch(function (error) {
          console.log(error);
        });
      }


    </script>
  </body>
</html>
